extends layout

block content
  .game-container
    .header
      h1 Who Wants to Be a Millionaire
      .prize Current Prize: $
        span#current-prize 0
    
    .question-container
      h2#question Welcome to the game!
      #options.options
        //- Options will be dynamically added here
    
    .lifelines
      button#fifty-fifty 50:50
      button#phone-friend Phone a Friend
      button#ask-audience Ask the Audience
  
  script(src='/renderer.js')